
<div class="grid space-y-12 p-16 ml-16">
  <div class="grid grid-cols-3 justify-between ">
    <div>
      <button routerLink="user" class="w-72 h-48 drop-shadow-2xl transition duration-150  ease-in-out hover:-translate-y-1 bg-gray-700 text-white py-2 px-4 rounded shadow hover:bg-gray-600 ">
        <span ><i class="fa-solid fa-users  text-4xl"></i></span>
        <h1 class="text-xl mt-4"> User Requests Component</h1></button>
    </div>
    <div>
      <button routerLink="business" class="w-72 h-48 drop-shadow-2xl transition duration-150  ease-in-out hover:-translate-y-1 bg-gray-700 text-white py-2 px-4 rounded shadow hover:bg-gray-600 ">
        <span><i class="fa-solid fa-briefcase  text-4xl"></i></span>
        <h1 class="text-xl mt-4">Business Requests Component</h1></button>
    </div>
    
    <div>
      <button routerLink="UB" class="w-72 h-48 drop-shadow-2xl transition duration-150  ease-in-out hover:-translate-y-1 bg-gray-700 text-white py-2 px-4 rounded shadow hover:bg-gray-600 ">
        <span><i class="fa-solid fa-code-merge  text-4xl"></i></span>
        <h1 class="text-xl mt-4">Business and User Requests Component</h1></button>
    </div>
   
  </div>
  <div class="grid grid-cols-3 justify-between ">
  <div>
    <button routerLink="infinite" class="w-72 h-48 drop-shadow-2xl transition duration-150  ease-in-out hover:-translate-y-1 bg-gray-700 text-white py-2 px-4 rounded shadow hover:bg-gray-600 ">
      <span><i class="fa-solid fa-infinity  text-4xl"></i></span>
      <h1 class="text-xl mt-4">Infinite scroll</h1></button>
  </div>
  </div>
  
  
  
  
  
  
  
</div>

